[Unit]
Description=resebo Backup: Srv Timer

[Timer]
OnCalendar=Tue *-*-* 01:00:00
Unit=resebo-backup-srv.service
WakeSystem=true
Persistent=false

[Install]
WantedBy=timers.target

