
[Unit]
Description=resebo Backup: Maintenance
Requires=network-online.target
After=network-online.target

StartLimitBurst=5
StartLimitIntervalSec=300

[Service]
Type=oneshot

Restart=on-failure
RestartSec=60s

EnvironmentFile=/etc/resebo-backup
ExecStart=/usr/local/bin/blocking-systemd-inhibit \
  --who="resebo Backup" \
  --why="resebo backup cleaning" \
  --what=sleep \
  -- /usr/local/bin/resebo-backup clean system /
ExecStart=/usr/local/bin/blocking-systemd-inhibit \
  --who="resebo Backup" \
  --why="resebo backup cleaning" \
  --what=sleep \
  -- /usr/local/bin/resebo-backup clean home /home/
