
[Unit]
Description=resebo Backup: System Timer

[Timer]
OnCalendar=Fri *-*-* 01:00:00
Unit=resebo-backup-maintenance.service
WakeSystem=true
Persistent=false

[Install]
WantedBy=timers.target

