[Unit]
Description=resebo Backup Srv
Requires=network-online.target
After=network-online.target

StartLimitBurst=5
StartLimitIntervalSec=300

[Service]
Type=simple

Restart=on-failure
RestartSec=60s

EnvironmentFile=/etc/resebo-backup
WorkingDirectory=${BACKUP_ROOT}
ExecStart=/usr/local/bin/resebo-backup archive srv ${BACKUP_PATHS}
