
[Unit]
Description=resebo Backup: System Timer

[Timer]
OnCalendar=*-*-* 12:00
Unit=resebo-backup-maintenance.service
WakeSystem=true
Persistent=false

[Install]
WantedBy=timers.target

