[Unit]
Description=resebo Backup: Home Timer

[Timer]
OnCalendar=Tue..Sun *-* 05:00
Unit=resebo-backup-home.service
WakeSystem=true
Persistent=false

[Install]
WantedBy=timers.target

